.client-badge {
  color: #ffffff;
  background-color: $colourSecondary;
  display: inline-block;
  padding: 0.25em 0.4em 0.2em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.project-images {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;

  @include respond(xs) {
    flex-direction: row;
    flex-wrap: wrap;
    // Medium images are different heights but same width, so different aspect ratios. Without align-items: flex-start, the medium image is stretched to be the same height as the small image (when the lines are wrapped into 2 lines), thus cropping the image sides a little - only set this >600
    align-items: flex-start;
  }
}

.project-image {
  border: 1px solid lightgrey;
  margin: 0;
  margin-bottom: 3rem;
  flex: 1;

  @include respond(xs) {
    flex-basis: 800px;
  }
}

// large image
.project-image:nth-child(1) {
  max-width: 900px;
}
// small image
.project-image:nth-child(2) {
  max-width: 200px;

  @include respond(xs) {
    margin-right: 3rem;
    margin-bottom: 0;
  }
}
// medium image
.project-image:nth-child(3) {
  max-width: 300px;
  margin-bottom: 0;
}
