// index page

.job-title {
  display: block;
  color: $colourSecondary;
  font-weight: normal;
}

@include respond(xs) {
  .job-title {
    display: inline;
    margin-left: 2rem;
  }

  .intro__lead {
    display: flex;
    align-items: center;
    padding-top: 2rem;
  }

  .intro__lead p {
    flex: 3;
    margin-right: 5rem;
  }

  .intro__lead .cta {
    flex: 1;
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.skills {
  padding: 2rem;
  background-color: scale-color($colourSecondary, $lightness: 92%);

  & ul {
    margin-top: 0;
  }

  & ul:last-child {
    margin-bottom: 0;
  }
}
