.header {
  background-color: grey;
  // background-color: $testColourPurple;
  // box-shadow: 1px 1px 4px 0 rgba(117, 68, 68, 0.1);
  // position: fixed;
  // width: 100%;
  /* RW added - top 0 is needed when i add padding-top to the body */
  // top: 0;

  & .brand {
    display: block;
    float: left;
    // if the font-size of brand is different to font-size of nav, the vertical alignment of nav is affected and can only be fixed with a magic number
    // font-size: $textMD;
    padding: 20px 20px;
    text-decoration: none;
    // background: lightblue;
  }
}
