.header {
  background-color: $colourSecondary;
  color: #ffffff;
  height: 80px; // height of burger is 29px (including aggregated height of divs and vertical margins), so 35px accommodates it - need to specify it here to fix the same heigh for both small and large screens
  position: fixed;
  top: 0; // top 0 is needed when I add padding-top to the body
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #eee;
  z-index: 10;
}

.header-inner {
  line-height: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  & .brand {
    font-size: $textLG;
    text-transform: uppercase;
    font-weight: bold;
  }
}
