// RW modified from:
// Responsive Pure CSS Menu Tutorial (No Javascript)
// https://www.youtube.com/watch?v=sjrp1FEHnyA

@import "variables";

/* menu */

.menu {
  clear: both;
  max-height: 0;
  text-align: center;
  transition: max-height 0.2s ease-out;
}

// label
.menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  // background: $test-colour-orange;
  margin-top: 5px;
}

// hamburger span inside label
.nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.nav-icon:before,
.nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav-icon:before {
  top: 5px;
}

.nav-icon:after {
  top: -5px;
}

// checkbox
.menu-btn {
  /* display: none; */
  /* RW added for accessibility */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* RW added */
/* this works, but might not implement */
// .menu-btn:focus ~ .menu-icon {
//   outline: 3px solid green;
// }

.menu-btn:checked ~ .menu {
  max-height: 300px;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 800px) {
  li {
    float: left;
  }
  li a {
    padding: 20px 30px;
  }
  .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
}
