/* nav */

.nav {
  // width: 40%;
  background: teal;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  // justify-content: space-around;
  list-style: none;
  background: red;
}

.nav-link {
  margin-right: 2rem;
}

.burger {
  cursor: pointer;
  user-select: none;
}

.burger > div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: orange;
}

.main-menu {
  & .menu {
    // clear: both;
    // max-height: 0;
    // text-align: center;
    // transition: max-height 0.2s ease-out;
  }

  // label
  & .menu-icon {
    // cursor: pointer;
    // float: right;
    // padding: 28px 20px;
    // position: relative;
    // user-select: none;
    // margin-top: 5px;
  }

  // hamburger span inside label
  & .nav-icon {
    // background: #333;
    // display: block;
    // height: 2px;
    // position: relative;
    // transition: background 0.2s ease-out;
    // width: 18px;
  }

  & .nav-icon:before,
  & .nav-icon:after {
    // background: #333;
    // content: "";
    // display: block;
    // height: 100%;
    // position: absolute;
    // transition: all 0.2s ease-out;
    // width: 100%;
  }

  & .nav-icon:before {
    // top: 5px;
  }

  & .nav-icon:after {
    // top: -5px;
  }

  // checkbox

  // RW added for accessibility, instead of display: none
  & .menu-btn {
    // position: absolute;
    // top: -9999px;
    // left: -9999px;
  }

  // add for extra accessibility - considering whether to implement or not
  // .menu-btn:focus ~ .menu-icon {
  //   outline: 3px solid green;
  // }

  & .menu-btn:checked ~ .menu {
    // max-height: 300px;
  }

  & .menu-btn:checked ~ .menu-icon .nav-icon {
    // background: transparent;
  }

  & .menu-btn:checked ~ .menu-icon .nav-icon:before {
    // transform: rotate(-45deg);
    // top: 0;
  }

  & .menu-btn:checked ~ .menu-icon .nav-icon:after {
    // transform: rotate(45deg);
    // top: 0;
  }

  & ul {
    // margin: 0;
    // padding: 0;
    // list-style: none;
    // overflow: hidden;
  }

  & li a {
    // display: block;
    // padding: 20px 20px;
    // border-right: 1px solid $colourPrimaryLight;
    // text-decoration: none;
  }

  & li a:hover {
    background-color: $colourPrimary;
    color: $colourPrimaryFullTint;
  }

  @media (min-width: 800px) {
    & li {
      // float: left;
    }
    & li a {
      // padding: 20px 30px;
    }
    & .menu {
      // clear: none;
      // float: right;
      // max-height: none;
    }
    & .menu-icon {
      // display: none;
    }
  }
}
