/* nav */

.nav {
  background: teal;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: red;
}

.nav-link {
  margin-right: 2rem;
}

.burger {
  cursor: pointer;
  user-select: none;
}

.burger > div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: orange;
}

@media (min-width: 800px) {
  .nav-links {
    flex-direction: row;
  }

  .burger {
    display: none;
  }
}
